[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "composant_cle/micro-ecc"]
	path = composant_cle/micro-ecc
	url = https://github.com/jluuM2/micro-ecc
	branch = master
[submodule "composant_cle/conv-string-bin"]
	path = composant_cle/conv-string-bin
	url = https://github.com/jluuM2/Conversion_String_binaire.git
	branch = main
